.Chat {
  $scrollbar-color: rgba(255, 255, 255, 0.2);
  $scrollbar-color-hover: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
  max-height: fit-content;
  margin: auto;
  transition: 1s;

  .message-window {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 0.95rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    height: 70%;
    margin-bottom: 1rem;
    overflow-y: auto;
    word-break: break-word;
    .message {
      width: 100%;
      display: inline-block;
      text-align: left;
    }
  }
  .message-window::-webkit-scrollbar {
    width: 0.5rem;
  }

  .message-window::-webkit-scrollbar-track {
    display: none;
  }

  .message-window::-webkit-scrollbar-thumb {
    border-radius: 1rem;
  }

  .message-window::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-color-hover;
  }
  .message-window::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 1rem;
  }

  .message-window::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 1rem;
  }
  .message-window:hover::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
  }
  .chat-form-container {
    height: 10%;
    width: 100%;
  }
  chat-input-form {
    display: grid;
    grid-template-columns: 8fr 1fr;
  }
  .chat-input-underline {
    color: white;
  }
}
