.Home {
  .spacing {
    height: 20vh;
  }
  button {
    margin: 1rem;
    color: #fc5242 !important;
    background-color: white !important;
  }
  .home-room-input {
    transition: 1s;
    opacity: 1;
  }
  .hidden {
    display: none;
  }
}
